<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>時間表記変換</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <div class="container">
    <h1 align="center">時間表記変換</h1>
    <div align="center" style="margin-bottom:10px">※「～時間」は0から99まで入力可能です。</div>
    <form action="/" method="get" name="do">
      <div align="center">
        <input type="text" style="width:60px; height:35px; font-size:25px">
        <span style="font-size:25px; margin:5px; vertical-align:sub"> 時間 </span>
        <select  name="minute" id="minute" style="width:60px; height:40px; font-size:25px"></select>
          <script>
            let month = document.getElementById('minute');
            document.createElement('option')
            for(let i = 0; i <= 59; i++){
              let option = document.createElement('option');
              option.setAttribute('value', i);
              option.innerHTML = i;
              minute.appendChile(option);
            }
          </script>
        <span style="font-size:25px; margin:5px; vertical-align:sub">分</span>
      </div>
    </form>
  </div>
</body>

</html>